---
import PageLayout from "../layouts/PageLayout.astro";

const redirectUrl =
  "https://safeamiiir.notion.site/Watches-1f26b0d6031980a29840e0e4b6cd2715";
---

<PageLayout>
  <div slot="main" class="prose dark:prose-invert max-w-none">
    <p>Redirecting...</p>

    <script define:vars={{ redirectUrl }}>
      import { inject } from "@vercel/analytics";
      inject();
      window.location.href = redirectUrl;
    </script>
  </div>
</PageLayout>
