---
const redirectUrl = "https://safeamiiir.notion.site/Watches-1f26b0d6031980a29840e0e4b6cd2715";
---

<html>
  <head>
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting...</p>
    
    <script>
      import { inject } from "@vercel/analytics";
      inject();
    </script>
    
    <script define:vars={{ redirectUrl }}>
      window.location.href = redirectUrl;
    </script>
  </body>
</html>
