---
---

<div>
  <p>
    This blog is a space where I share practical insights and experiences that have helped me and, I hope, might be useful to others—or even my future self.
    Whether it's a conference talk, a workshop, a class discussion, or a blog post, I aim to provide value by documenting and sharing meaningful knowledge.
    <br/>
    Feel free to explore and connect with me as we journey together.
    <a href="mailto:safehiana@gmail.com">safehiana@gmail.com</a>
  </p>
  <p class="mt-8">
    By the way, you can find me on <a href="https://adplist.org/mentors/amirreza-safehian">ADPList</a> and we can have a chat there!
  </p>
</div>
