---
---

<footer class="text-xs leading-[1.5]">
    <div>
      This blog is content footer
    </div>
  </footer>
  
  <style>
    footer {
      grid-area: footer;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
  